@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 针对Webkit内核浏览器如Chrome, Safari等 */
::-webkit-scrollbar {
  display: none;
}
